<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <title>게시물 작성 폼</title>
</head>

<style>
  .layout {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
  }

  .layout input {
    width: 100%;
    box-sizing: border-box;
  }

  .layout textarea {
    width: 100%;
    margin-top: 10px;
    min-height: 300px;
  }
</style>

<div class="nav">
  <div class="nav-title">
    스프링부트 게시판
  </div>
  <div class="nav-menu">
    <a th:href="@{/}">메인화면</a>
    <a th:href="@{/board/list}">게시글</a>
    <a th:href="@{/board/write}">글쓰기</a>
  </div>
</div>


<body>
<div class="layout">
  <form th:action="@{/board/update/{id}(id=${board.id})}" method="post">
    <input name="title" type="text" th:value="${board.title}">
    <textarea name="content" th:value="${board.content}"></textarea>
    <button type="submit">수정</button>
  </form>
</div>
</body>
</html>