<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <title>게시물 작성 폼</title>

</head>

<style>
    .layout {
        width: 500px;
        margin: 0 auto;
        margin-top: 40px;
    }

    .layout input {
        width: 100%;
        box-sizing: border-box;
    }

    .layout textarea {
        width: 100%;
        margin-top: 10px;
        min-height: 300px;
    }
</style>



<body>
<div class="nav">
    <div class="nav-title">
        스프링부트 게시판
    </div>
    <div class="nav-menu">
        <a th:href="@{/}">메인화면</a>
        <a th:href="@{/board/list}">게시글</a>
        <a th:href="@{/board/write}">글쓰기</a>
    </div>
</div>

    <div class="layout">
        <form action="/board/writepro" method="post">
            <input name="title" type="text">
            <textarea name="content"></textarea>
            <button type="submit">작성</button>
        </form>
    </div>
</body>
</html>